<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        class="img-body"
        src="assets/images/SuperCalc-removebg-preview.png"
        alt="Computer Man"
        style="width: 90px; height: 90px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main class="px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">{{ this.userData.username }}'s Dashboard</h1>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/update">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/stats">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
    </ul>
  </div>

  <body class="bg">
    <div class="container">
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <div style="padding: 5%">
          <div style="padding-bottom: 3%">
            <h1>Oppurtunity Cost Visualizer</h1>
            <p>Please follow the steps in order for optimal results.</p>
          </div>
          <div>
            <button class="btn btn-outline-dark" (click)="minimumLoanPayment()">
              1: Generate Minimum Loan Payment
            </button>
            <button class="btn btn-outline-dark" (click)="zeroBalanceDate()">
              2: Generate Zero Balance
            </button>
            <button class="btn btn-outline-dark" (click)="averageNetworth()">
              3: Generate Average Networth
            </button>
          </div>
        </div>
      </div>
    </div>

    <section style="padding: 5%">
      <div id="container2"></div>
    </section>
    <div></div>
  </body>
</main>
